@media (max-width: 767px) {
    main section {
        column-count: 1;
        min-height: calc(100vh - 55px);
        height: calc(100vh - 55px);
    }
}

@media (min-width: 768px) {
    main section {
        column-count: 3;
        min-height: calc(100vh - 55px);
        height: calc(100vh - 55px);
    }
}

@media (min-width: 1000px) {
    main section {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    main section {
        column-count: 5;
    }
}

@media (min-width: 1400px) {
    main section {
        column-count: 6;
    }
}

@media (min-width: 1600px) {
    main section {
        column-count: 8;
    }
}

@media (min-width: 1800px) {
    main section {
        column-count: 9;
    }
}

@media (min-width: 2000px) {
    main section {
        column-count: 10;
    }
}

@media (min-width: 2200px) {
    main section {
        column-count: 11;
    }
}

@media (min-width: 2400px) {
    main section {
        column-count: 12;
    }
}

@media only screen and (min-width: 3200px) {
    main section {
        column-count: 16;
    }
}
